h3>.form-control{
    font-size: 1.75rem;
}

P>.form-control{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
}

.form-group{
    width:100%;
}
.form-control:not(button){
   border:0px solid white;
   border-bottom: 1px solid #00000011;
   border-radius:0px;
}

.form-control:focus {
color: #495057;
background-color: #fff;
border-color: 00000066;
outline: 0;
box-shadow:unset;
}

button{
   width:20%;
}

.post-button{
    font-size: 1.2em;
    padding: 0.2em 0.4em;
    margin: 0px 0.2em;
}


.edit-post.overlay{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: white;
    display: none;
    visibility: hidden;
}